.navbar-inverse{
	background-color: #2c3e50;
}
.navbar-inverse .navbar-nav>li>a{
	color: white;
}
.navbar-inverse .navbar-nav>li>a:hover{
	color: #efefef;
}
.navbar-inverse .navbar-brand{
	color:white;
}
.navbar-inverse .navbar-brand:hover{
	color: #efefef;
}
.jumbotron{
	height: 400px;
	color: white;
	text-shadow: 2px 2px #454545;
	background: url(https://images.unsplash.com/photo-1473186505569-9c61870c11f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60) no-repeat center center fixed; 
	background-size: cover;
	text-align: center;
	font-family: 'Bitter', serif;
}
.header{
	margin: 100px auto;
	border:5px white solid;
	box-shadow: 2px 2px #565656;
}
.header:hover{
	box-shadow: 2.5px 2.5px #454545;
	text-shadow: 2px 2px #111111; 
}
.row{
	padding: 1% 1%;
}
.post{
	margin-bottom: 20px;
	font-size: 1.3em;

}
.blogHeading{
	background-image:linear-gradient(#1d3356, #3c4e60);
	color: white;
	padding: 1% 1%;
	box-shadow: 1.5px 1.5px #dedede;
	font-family: 'Bitter', serif;
}
.body{
	padding:0 1%;
	margin: 10px 0;
}
.blogFooter{
	text-align: center;
}
.blogFooter i{
	margin-left: 10%;
	margin-bottom: 5%;
	margin-right: 10%;
}
h2{
	margin-top: 0;
}
.sidebar{
	font-size: 1.21em;
}
.sideposts{
	margin-bottom:20px;
	padding-left: 0;
	padding-right: 0;
}
.sideposts p{
	padding-left:  5%;
}
.sideposts p:first-of-type{
	text-transform: uppercase;
	color: white;
	background-image:linear-gradient(#1d3356, #3c4e60);
	padding: 2% 4%;
	font-family: 'Bitter', serif;
	
}
.sidebar ul{
	list-style-type: none;
}
.btn-primary{
 	margin: 2% 17% 4% 17%; 
}

.footer{
	background-color: #2c3e50;
	text-align: center;
	color: white;
}
.footerHeading{
	padding: 2.5%;
}
.footer i:hover{
	color: #efefef;
}
.footer i{
	color: white;
	font-size: 2em;
	padding-left: 20%;
}
body{
	font-family: 'PT Serif', serif;
}
a:hover{
	text-decoration: none;
}
a{
	color: #3c4e60;
}